In [2]:
import pandas as pd

df = pd.DataFrame(
    {
        "no": [1,2,3,4,5,6],
        "name" : ["Abdullah", "Denvi", "Fadillah", "Fitri","Lukman","Billal" ],
        "Probstat" : [75,65,80,70,50,77],
        "Matdisk": [55,78,90,78,76,67],
        "label":["pm","se","em","se","se","pm"]
    }
)

df
df["Probstat"].mean()

np.float64(69.5)

In [3]:
df_playtennis = pd.read_csv("PlayTennis.csv")
display(df_playtennis)

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [4]:
df_playtennis.dtypes
total_data = df_playtennis["Play Tennis"].count()

# filter data ambil yang play tennis is yes
data_yes = df_playtennis[df_playtennis["Play Tennis"] == "Yes"]
display(data_yes)
# ambil jumlah data dari field / feature play tennis yes
total_yes = data_yes["Play Tennis"].count()
display(total_yes)

# filter data ambil yang play tennis is no
data_no = df_playtennis[df_playtennis["Play Tennis"] == "No"]
display(data_no)
# ambil jumlah data dari field / feature play tennis no
total_no = data_no["Play Tennis"].count()
display(total_no)

model = {
    'total_data': total_data,
    'total_data_yes' : total_yes,
    'total_data_no' : total_no
}
model

     Outlook Temperature Humidity    Wind Play Tennis
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
6   Overcast        Cool   Normal  Strong         Yes
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes

np.int64(9)

   Outlook Temperature Humidity    Wind Play Tennis
0    Sunny         Hot     High    Weak          No
1    Sunny         Hot     High  Strong          No
5     Rain        Cool   Normal  Strong          No
7    Sunny        Mild     High    Weak          No
13    Rain        Mild     High  Strong          No

np.int64(5)

{'total_data': np.int64(14),
 'total_data_yes': np.int64(9),
 'total_data_no': np.int64(5)}

In [15]:
# prediksi jika Rain, Cool, Normal, Weak ? 
def nbplaytennis(dataset, model, outlook, temp, humidity, wind) -> str :

    #hitung probability argumen Yes
    p_yes = model['total_data_yes']/model['total_data']
    df_yes = dataset[dataset['Play Tennis'] == 'Yes']
    
    filter_outlook = df_yes[df_yes['Outlook'] == outlook]
    filter_temp = df_yes[df_yes['Temperature'] == temp]
    filter_humidity = df_yes[df_yes['Humidity'] == humidity]
    filter_wind = df_yes[df_yes['Wind'] == wind]

    # display(filter_wind)
    
    jumlah_outlook_yes = filter_outlook['Outlook'].count()
    p_outlook_yes = jumlah_outlook_yes / model['total_data_yes']

    jumlah_temp_yes = filter_temp['Temperature'].count()
    p_temp_yes = jumlah_temp_yes / model['total_data_yes']

    jumlah_humidity_yes = filter_humidity['Humidity'].count()
    p_humidity_yes = jumlah_humidity_yes / model['total_data_yes']

    jumlah_wind_yes = filter_wind['Wind'].count()
    p_wind_yes = jumlah_wind_yes / model['total_data_yes']
    # display(p_outlook_yes)
    arg_p_yes = p_yes * p_outlook_yes * p_temp_yes * p_humidity_yes * p_wind_yes

    #hitung probability argumen No
    p_no = model['total_data_no']/model['total_data']
    df_no = dataset[dataset['Play Tennis'] == 'No']

    filter_outlook = df_no[df_no['Outlook'] == outlook]
    filter_temp = df_no[df_no['Temperature'] == temp]
    filter_humidity = df_no[df_no['Humidity'] == humidity]
    filter_wind = df_no[df_no['Wind'] == wind]

    jumlah_outlook_no = filter_outlook['Outlook'].count()
    p_outlook_no = jumlah_outlook_no / model['total_data_no']

    jumlah_temp_no = filter_temp['Temperature'].count()
    p_temp_no = jumlah_temp_no / model['total_data_no']

    jumlah_humidity_no = filter_humidity['Humidity'].count()
    p_humidity_no = jumlah_humidity_no / model['total_data_no']

    jumlah_wind_no = filter_wind['Wind'].count()
    p_wind_no = jumlah_wind_no / model['total_data_no']

    arg_p_no = p_no * p_outlook_no * p_temp_no * p_humidity_no * p_wind_no
    display('yes arg = ' + str(arg_p_yes))
    display('no arg = ' + str(arg_p_no))
    return 'No' if arg_p_no > arg_p_yes else 'Yes'
    # probyes = 

display(nbplaytennis(df_playtennis, model, 'Rain', 'Mild','Normal', 'Weak'))

'yes arg = 0.042328042328042326'

'no arg = 0.004571428571428573'

'Yes'

In [ ]:
display(df_playtennis.count())
for row in range(int(df_playtennis['Outlook'].count())):
    display(" count for data ke = " + str(row) + " ----------------------------------")
    get_outlook = df_playtennis.loc[row, "Outlook"]
    get_temp = df_playtennis.loc[row, "Temperature"]
    get_humidity = df_playtennis.loc[row, "Humidity"]
    get_wind = df_playtennis.loc[row, "Wind"]

    re_predict = nbplaytennis(df_playtennis, model, get_outlook, get_temp, get_humidity, get_wind)
    display(re_predict)

Outlook        14
Temperature    14
Humidity       14
Wind           14
Play Tennis    14
dtype: int64

' count for data ke = 0 ----------------------------------'

'yes arg = 0.007054673721340388'

'no arg = 0.02742857142857143'

' count for data ke = 1 ----------------------------------'

'yes arg = 0.003527336860670194'

'no arg = 0.04114285714285714'

' count for data ke = 2 ----------------------------------'

'yes arg = 0.014109347442680775'

'no arg = 0.0'

' count for data ke = 3 ----------------------------------'

'yes arg = 0.021164021164021163'

'no arg = 0.01828571428571429'

' count for data ke = 4 ----------------------------------'

'yes arg = 0.031746031746031744'

'no arg = 0.0022857142857142863'

' count for data ke = 5 ----------------------------------'

'yes arg = 0.015873015873015872'

'no arg = 0.0034285714285714297'

' count for data ke = 6 ----------------------------------'

'yes arg = 0.021164021164021163'

'no arg = 0.0'

' count for data ke = 7 ----------------------------------'

'yes arg = 0.014109347442680775'

'no arg = 0.02742857142857143'

' count for data ke = 8 ----------------------------------'

'yes arg = 0.021164021164021163'

'no arg = 0.003428571428571429'

' count for data ke = 9 ----------------------------------'

'yes arg = 0.042328042328042326'

'no arg = 0.004571428571428573'

' count for data ke = 10 ----------------------------------'

'yes arg = 0.014109347442680775'

'no arg = 0.010285714285714285'

' count for data ke = 11 ----------------------------------'

'yes arg = 0.014109347442680775'

'no arg = 0.0'

' count for data ke = 12 ----------------------------------'

'yes arg = 0.02821869488536155'

'no arg = 0.0'

' count for data ke = 13 ----------------------------------'

'yes arg = 0.010582010582010581'

'no arg = 0.027428571428571438'